# Ignore everything
*

# Allow directories (needed so subdirectory contents are even checked)
!*/

# Allow only .md, .ipynb, .rst, .py files
!*.md
!*.ipynb
!*.rst
!*.py
!Makefile

# And .gitignore itself
!.gitignore
